@import "tailwindcss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/mainshoes.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


a {
    text-decoration: none;
    color: rgb(221, 210, 195);
}

.example-product {
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    margin: 20px 10px;
}


svg{
    color: gainsboro;
    width: 20px;
    height: 20px;
}

a{
    font-size: 17px;
    margin-top: 0px;
    margin-left: 3px;
}